body{
	margin:0;
	padding:0;
	background-image:url("../img/star.gif");
	height: 1500px;
	overflow: scroll;
/*	background-image: url("images/noise.gif");*/
}

#warp{
/*	border: 5px solid red;*/
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	height: 100vh;
	background-image: url("../img/warp1.png");
	background-size: 90vw;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
    -webkit-transition: all 5s ease;
       transition: all 5s ease;
}

#festival_title{
	background-position: top;
	width: 100vw;
	text-align: center;
	font-size: 4em;
	color: rgba(255, 0, 255, 0.2);
	text-shadow: 2px 4px 1px rgba(153,255,204,0.2);
	transition: color 5s;
	font-family: 'IBM Plex Mono', monospace;
	-webkit-animation: floating 10s infinite alternate linear;
	        animation: floating 10s infinite alternate linear;

}

#festival_title:hover{
	color: rgba(255,0,255, 0.7);
	text-shadow: 2px 4px 1px rgba(153,255,204,0.8);
}


#middle_color{
	color: rgba(153,255,204,0.4);
	text-shadow: 2px 4px 1px rgba(255,0,255, 0.2);
	font-style: italic;
	font-weight: 400;
}

#festival_title:hover #middle_color{
	color: rgba(153,255,204,0.7);
	text-shadow: 2px 4px 1px rgba(255,0,255, 0.7);
}

.invitation{
	margin-top: 2%;
	margin-left: 5%;
	font-family: 'IBM Plex Mono', monospace;
/*	font-style: italic;*/
	font-size: 150%;
	color: white;

/*	text-transform: uppercase;*/
	text-align:center;
	display: flex;
/*	background-color: rgba(255, 255,255, 0.5);*/
	border: 5px solid;
}

/* CLASS TO MAYBE ADD WITH JQUERY TO FADE THE BACKGROUND*/
.fade {
	-webkit-animation: fadein 5s;
	    animation: fadein 5s;
}

.darker{
    -webkit-filter: brightness(30%);
         filter: brightness(30%);
}



/* CELLPHONES */
@media(min-width: 650px){
}


/* BIG SCREENS/ MONITORS*/
@media (min-width: 1080px){
}

/* IPADS */
@media(min-width: 750px){
}

/* ANIMATIONS */

/* warp fade animation*/

@keyframes fadein{
	from: {opacity:1;}
	to: {opacity: 0;}
}
@-webkit-keyframes fadein{
	from: {opacity:1;}
	to: {opacity: 0;}
}


/*floating animation for title*/
@-webkit-keyframes floating{
	0%{-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}
	50%{-webkit-transform: 20px, -20px;transform: 20px, -20px;}
	100%{-webkit-transform: translate(-10px, -10px);transform: translate(-10px, -10px);}
}
@keyframes floating{
	0%{-webkit-transform: translate(0px, 0px);transform: translate(0px, 0px);}
	50%{-webkit-transform: 20px, -20px;transform:  translate(20px, -20px);}
	100%{-webkit-transform: translate(-10px, -10px);transform: translate(-10px, -10px);}
}
