#lookback:hover {
  color: black;
}

#back {
  color: #e540c2;
}


#lookback{
  padding: 10px 3px;
  background-color: rgba(0,0,0,0);
  color: #e8e8e8;
  font-family: "Arial Black", sans-serif;
  font-size: 1em;
  width: 24vw;
  font-weight: bold;
  text-shadow: 2px 3px black;
  text-align: center;
  margin: auto;
  text-decoration:none;
  position:relative;
}



#waldemars_SALON {
  height: 50vh;
}

/* css to customize Leaflet default styles  */
.magenta .leaflet-popup-tip {
  background: #e540c2;
}

.magenta .leaflet-popup-content-wrapper {
  background: url("../img/star2.gif");
  /* color: #e540c2; */
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 250;
  padding: 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #e540c2;
}

.magenta .leaflet-popup-content-wrapper h3 {
  display: center;
  padding: 2px 10px 2px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: black;
  width: auto%;
  margin-bottom: 6px;
  background: #e540c2;
}

.green .leaflet-popup-tip {
  background: #3ee485;
}

.green .leaflet-popup-content-wrapper {
  background: url("../img/star2.gif");
  /* color: #e540c2; */
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 250;
  padding: 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #3ee485;
}

.green .leaflet-popup-content-wrapper h3 {
  display: center;
  padding: 2px 10px 2px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: black;
  width: auto%;
  margin-bottom: 6px;
  background: #3ee485;
}

.orange .leaflet-popup-tip {
  background: #fd6504;
}

.orange .leaflet-popup-content-wrapper {
  background: url("../img/star2.gif");
  /* color: #e540c2; */
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 250;
  padding: 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #fd6504;
}

.orange .leaflet-popup-content-wrapper h3 {
  display: center;
  padding: 2px 10px 2px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: black;
  width: auto%;
  margin-bottom: 6px;
  background: #fd6504;
}

.yellow .leaflet-popup-tip {
  background: #fff424;
}

.yellow .leaflet-popup-content-wrapper {
  background: url("../img/star2.gif");
  /* color: #e540c2; */
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 250;
  padding: 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #fff424;
}

.yellow .leaflet-popup-content-wrapper h3 {
  display: center;
  padding: 2px 10px 2px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: black;
  width: auto%;
  margin-bottom: 6px;
  background: #fff424;
}

.blue .leaflet-popup-tip {
  background: #33ccff;
}

.blue .leaflet-popup-content-wrapper {
  background: url("../img/star2.gif");
  /* color: #e540c2; */
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 250;
  padding: 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #33ccff;
}

.blue .leaflet-popup-content-wrapper h3 {
  display: center;
  padding: 2px 10px 2px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: black;
  width: auto%;
  margin-bottom: 6px;
  background: #33ccff;
}

.blue2 .leaflet-popup-tip {
  background: #119dfc;
}

.blue2 .leaflet-popup-content-wrapper {
  background: url("../img/star2.gif");
  /* color: #e540c2; */
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 250;
  padding: 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #119dfc;
}

.blue2 .leaflet-popup-content-wrapper h3 {
  display: center;
  padding: 2px 10px 2px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: black;
  width: auto%;
  margin-bottom: 6px;
  background: #119dfc;
}

.blue .leaflet-popup-content-wrapper h3 {
  display: center;
  padding: 2px 10px 2px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: black;
  width: auto%;
  margin-bottom: 6px;
  background: #33ccff;
}

.purple .leaflet-popup-tip {
  background: #7e42ff;
}

.purple .leaflet-popup-content-wrapper {
  background: url("../img/star2.gif");
  /* color: #e540c2; */
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 250;
  padding: 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #7e42ff;
}

.purple .leaflet-popup-content-wrapper h3 {
  display: center;
  padding: 2px 10px 2px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: black;
  width: auto%;
  margin-bottom: 6px;
  background: #7e42ff;
}

.red .leaflet-popup-tip {
  background: #ff4141;
}

.red .leaflet-popup-content-wrapper {
  background: url("../img/star2.gif");
  /* color: #e540c2; */
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 250;
  padding: 15px 10px 15px;
  border: solid;
  border-width: thin;
  border-color: #ff4141;
}

.red .leaflet-popup-content-wrapper h3 {
  display: center;
  padding: 2px 10px 2px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: black;
  width: auto%;
  margin-bottom: 6px;
  background: #ff4141;
}




@media screen and (max-width: 500px) {

  #lookback{
    font-size: 0.8em;
    font-family: "Arial Black", sans-serif;
  }

  .magenta .leaflet-popup-content-wrapper {
    font-size: 12px;
    padding: 0px 0px 0px;
  }

  .magenta .leaflet-popup-content-wrapper h3 {
    font-size: 14px;
  }

  .green .leaflet-popup-content-wrapper {
    font-size: 12px;
    padding: 0px 0px 0px;
  }

  .green .leaflet-popup-content-wrapper h3 {
    font-size: 14px;
  }

  .orange .leaflet-popup-content-wrapper {
    font-size: 12px;
    padding: 0px 0px 0px;
  }

  .orange .leaflet-popup-content-wrapper h3 {
    font-size: 14px;
  }

  .yellow .leaflet-popup-content-wrapper {
    font-size: 12px;
    padding: 0px 0px 0px;
  }

  .yellow .leaflet-popup-content-wrapper h3 {
    font-size: 14px;
  }

  .blue .leaflet-popup-content-wrapper {
    font-size: 12px;
    padding: 0px 0px 0px;
  }

  .blue .leaflet-popup-content-wrapper h3 {
    font-size: 14px;
  }

  .blue2 .leaflet-popup-content-wrapper {
    font-size: 12px;
    padding: 0px 0px 0px;
  }

  .blue2 .leaflet-popup-content-wrapper h3 {
    font-size: 14px;
  }

  .purple .leaflet-popup-content-wrapper {
    font-size: 12px;
    padding: 0px 0px 0px;
  }

  .purple .leaflet-popup-content-wrapper h3 {
    font-size: 14px;
  }

  .red .leaflet-popup-content-wrapper {
    font-size: 12px;
    padding: 0px 0px 0px;
  }

  .red .leaflet-popup-content-wrapper h3 {
    font-size: 14px;
  }
}
