.tabs {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 1em 0 2em;
}

/* TABS NAVIGATION SECTION */
.tabs nav {
  text-align: center;
  justify-content: space-around;
  background-size: 5%;
}

.tabs nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.tabs nav ul li {
  border: 0.3vw solid #e540c2;
  border-bottom: none;
  margin: 0 0.2vw;
  display: block;
  float: left;
  position: relative;
  padding: 0;
}

.tabs nav li.tab-current {
  border: 0.3vw solid #fff424;
  border-bottom: none;
  z-index: 100;
}

/*Delimitation horizontal border (yellow line) within view port of a selected tab (before and after tab)*/
.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
  content: '';
  position: absolute;
  height: 0.3vw;
  right: 100%;
  bottom: 0;
  width: 100vw;
  background: #fff424;
}

.tabs nav li.tab-current:after {
  right: auto;
  left: 100%;
  width: 100vw;
}

.tabs nav a {
  color: #33ccff;
  display: block;
  font-size: 1.1vw;
  font-weight: 450;
  line-height: 2;
  padding: 0.5vw 0.8vw 0.5vw 0.8vw;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.5);
}

.tabs nav a:hover {
  color: #fff424;
}

/*color of selected tab*/
.tabs nav li.tab-current a {
  color: #ffcc33;
}

/* CONTENT */
.TABScontent section {
  font-size: 1.25em;
  padding: 3em 1em;
  display: none;
  max-width: 1230px;
  margin: 0 auto;
}

.TABScontent section:before,
.TABScontent section:after {
  content: '';
  display: table;
}

.TABScontent section:after {
  clear: both;
}

/* Fallback example */
.no-js .TABScontent section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid #47a3da;
}

.TABScontent section.content-current {
  display: block;
}

.TABScontent h1 {
  display: inline-block;
  padding: 5px 15px 5px;
  font-size: 28px;
  font-style: italic;
  text-align: center;
  color: black;
  width: auto%;
  margin-bottom: 20px;
}

.TABScontent a {
  color: inherit;
}

.TABScontent h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 450;
  width: auto%;
  margin-bottom: 5px;
}

.TABScontent p {
  display: inline-block;
  font-size: 20px;
  font-weight: 250;
  font-style: italic;
  color: #fff;
  width: auto%;
  margin-bottom: 15px;
}

.green {
  color: #3ee485;
}

.greenBackground {
  background: #3ee485;
}

.yellow {
  color: #fff424;
}

.yellowBackground {
  background: #fff424;
}

.orange {
  color: #fd6504;
}

.orangeBackground {
  background: #fd6504;
}

.magenta {
  color: #e540c2;
}

.magentaBackground {
  background: #e540c2;
}

.blue {
  color: #33ccff;
}

.blueBackground {
  background: #33ccff;
}

.blue2 {
  color: #119dfc;
}

.blue2Background {
  background: #119dfc;
}

.purple {
  color: #7e42ff;
}

.purpleBackground {
  background: #7e42ff;
}

.red {
  color: #ff4141;
}

.redBackground {
  background: #ff4141;
}

/* RESPONSIVENESS */
@media screen and (max-width: 700px) {
  .tabs nav ul {
    display: inline-block;
  }

  .tabs nav a {
    font-size: 2.5vw;
  }

  .tabs nav ul li {
    display: block;
    position: relative;
    padding: 5px 10px 5px 10px;
    font-family: 'IBM Flex Mono', monospace;
  }

  .tabs span {
    display: none;
  }

  .waldemars_SALON:after {
    font-family: "Font Awesome 5 Free";
    content: "\f1b0";
    font-weight: 900;
    font-size: 12px;
    color: #e540c2;
  }

  .peace_NOW:after {
    font-family: "Font Awesome 5 Free";
    content: "\f67c";
    font-weight: 900;
    font-size: 12px;
    color: #3ee485;
  }

  .cat_IVERSE:after {
    font-family: "Font Awesome 5 Free";
    content: "\f6be";
    font-weight: 900;
    font-size: 12px;
    color: #fd6504;
  }

  .pankow_STUDIOS:after {
    font-family: "Font Awesome 5 Free";
    content: "\f679";
    font-weight: 900;
    font-size: 12px;
    color: #fff424;
  }

  .mon_REVE:after {
    font-family: "Font Awesome 5 Free";
    content: "\f135";
    font-weight: 900;
    font-size: 12px;
    color: #7e42ff;
  }

  .mitte_SCHNITTE:after {
    font-family: "Font Awesome 5 Free";
    content: "\f561";
    font-weight: 900;
    font-size: 12px;
    color: #33ccff;
  }

  .more_BEAT:after {
    font-family: "Font Awesome 5 Free";
    content: "\f583";
    font-weight: 900;
    font-size: 12px;
    color: #33ccff;
  }

  .virtual_REALITY:after {
    font-family: "Font Awesome 5 Free";
    content: "\f729";
    font-weight: 900;
    font-size: 12px;
    color: #33ccff;
  }

  .escape_ROOM:after {
    font-family: "Font Awesome 5 Free";
    content: "\f023";
    font-weight: 900;
    font-size: 12px;
    color: #33ccff;
  }




  span {
    font-family: "IBM Flex Mono", monospace;
    font-weight: 300;
  }

  .TABScontent h1 {
    padding: 2px 15px 2px;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .TABScontent h2 {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .TABScontent p {
    display: inline-block;
    font-size: 13px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 32em) {
  .tabs nav ul li {
    border: 0.5vw solid;
    border-color: #e540c2;
    border-bottom: none;
    padding: 3px 8px 3px 8px;
  }

  .tabs nav li.tab-current {
    border: 0.5vw solid #fff424;
    border-bottom: none;
    z-index: 100;
  }

  .tabs nav li.tab-current:before,
  .tabs nav li.tab-current:after {
    height: 0.5vw;
    right: 100%;
    bottom: 0;
    width: 100vw;
  }

  .tabs nav a {
    font-size: 2.5vw;
    line-height: 2.5;
    padding-right: 1.5vw;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
