/* General Blueprint Style */
/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/

@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

/*The * means "all elements" (universal selector).*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

body, html {
	font-size: 100%;
	padding: 0;
	margin: 0;
	background-image: url('../img/star2.gif');
}

#lookback:hover {
	color: black;
}

#back {
	color: #e540c2;
}


#lookback{
	padding: 10px 3px;
	background-color: rgba(0,0,0,0);
	color: #e8e8e8;
	font-family: "Arial Black", sans-serif;
	font-size: 1em;
	width: 24vw;
	font-weight: bold;
	text-shadow: 2px 3px black;
	text-align: center;
	margin: auto;
	text-decoration:none;
	position:relative;
}


/* THIS CSS IS ONLY FOR THE TOP NAVIGATION BAR *except body and html selectors)*/



/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/
Clearfix allows to contain the float element inside the same div
From N.G. Blog:
This “micro clearfix” generates pseudo-elements and sets their display to table.
This creates an anonymous table-cell and a new block formatting context that means
the :before pseudo-element prevents top-margin collapse. The :after pseudo-element is used to clear the floats.
As a result, there is no need to hide any generated content and the total amount of code needed is reduced.
*/

.TABclearfix:before, .TABclearfix:after { content: " "; display: table; }
.TABclearfix:after { clear: both; }

body {
    font-family: 'IBM Flex Mono', monospace;
}


.TABScontainer > header {
	width: 100vw;
	max-width: 69em;
	margin: 0 auto;
	padding: 2.875em 1.875em 1.875em;
}

.TABScontainer > header h1 {
	font-size: 62px;
	line-height: 58px;
	color: #33ccff;
	font-weight: 400;
	position: relative;
	text-shadow: 4px 4px 0px #e540c2;
	margin-bottom: 20px;
}


#instruction{
	padding: 0;
	margin: 0.6vw 0 0 2vw;
	color:#33ccff;
	font-size: 2vw;
	font-style: italic;
/*	border: solid white;*/

}

.mission_phase{
	/* padding-left: 10px; */
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-size: 18px;
	text-shadow: none;
}

.mission_subphase{
	line-height: 45px;
	color: #cc33ff;
}

.TABclearfix header h2 span{
	margin-top: 20vh;
}


#mission_statement{
	padding-left: 10px;
	color:#33ccff;
	font-size: 1.3em;
	/* margin-top: 1vw; */
	margin-bottom: 3vw;
	padding: 0;
}


.schedule_link{
	color: #969696;
	font-size: 1em;
	font-style:italic;
	margin: 0;

}

@media screen and (max-width: 540px){

	#lookback{
		font-size: 0.8em;
	}

	.TABScontainer > header h1 {
		padding: 10px 0;
		margin: 0;
		font-size: 42px;
		line-height: 58px;
		text-shadow: 4px 4px 0px #e540c2;
	}

	#mission_statement{
		font-size: 1em;
	}

	.schedule_link{
		font-size: 0.8em;
	}
}
