body{
	margin:0;
	padding:0;
	background-image:url("../img/star.gif");
	height: 100%;
	overflow: scroll;
/*	background-image: url("images/noise.gif");*/
}

#warp{
/*	border: 5px solid red;*/
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	height: 100vh;
	background-image: url("../img/warp1.png");
	background-size: 85vw;
	background-repeat: no-repeat;
	position: absolute;
	background-position: center;
    -webkit-animation: fadein 7s infinite alternate;
       animation: fadein 7s infinite alternate;
}

#festival_title{
	width: 70%;
	height: 15%;
/*	border: 3px white solid;*/
/*	position: fixed;*/
	background-position: top;
/*	width: 100vw;*/
	text-align: center;
	font-size: 4em;
	color: rgba(255, 0, 255, 0.2);
	text-shadow: 2px 4px 1px rgba(153,255,204,0.2);
	transition: color 5s;
	font-family: 'IBM Plex Mono', monospace;
	-webkit-animation: floating 10s infinite alternate linear;
	        animation: floating 10s infinite alternate linear;

}

#festival_title:hover{
	color: rgba(255,0,255, 0.7);
	text-shadow: 2px 4px 1px rgba(153,255,204,0.8);
}


#middle_color{
/*	position:fixed;*/
	color: rgba(153,255,204,0.4);
	text-shadow: 2px 4px 1px rgba(255,0,255, 0.2);
	font-style: italic;
	font-weight: 400;
}

#festival_title:hover #middle_color{
	color: rgba(153,255,204,0.7);
	text-shadow: 2px 4px 1px rgba(255,0,255, 0.7);
}

#date{

	/*horizontal and vertical alignment of absolute object*/
	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	margin:auto;
	margin-top: 17%;

	/*v+h alignment of text inside container*/
	padding: 3px;
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align:center;

	/*fonts and colors*/
	font-family: 'IBM Plex Mono', monospace;
	font-style: italic;
	font-size: 250%;
	color: white;

	/*container size and attributes*/
	width: 50vw;
	height:50vh;
/*	border: 5px solid;*/

	/*animation*/
	-webkit-animation: appear 9s linear forwards;
       animation: appear 9s linear forwards;
}

#goodby{

	/*horizontal and vertical alignment of absolute object*/
	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	margin:auto;
	margin-top: 17%;

	/*v+h alignment of text inside container*/
	padding: 3px;
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;

	/*fonts and colors*/
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 200;
	font-style: italic;
	font-size: 100%;
	color: white;

	/*container size and attributes*/
	width: 50vw;
	height:50vh;
/*	border: 5px solid;*/

	/*animation*/
	-webkit-animation: appear 9s linear forwards;
       animation: appear 9s linear forwards;
}

a{
/*	border: 3px white solid;*/
	padding: 10px 3px;
	background-color: rgba(0,0,0,0);
	color: white;
	font-family: "Arial Black", sans-serif;
	font-size: 16px;
	width: 220px;
/*	border: 6px solid white;*/
/*	margin-top: 20px;*/
	font-weight: bold;
	text-shadow: 2px 2px black;
	text-align: center;
	margin: auto;
	text-decoration:none;
}

a:hover {
	color: black;
}

#back {
	color: #e540c2;
}

#back:hover {
	color: black;
}

#button{
	margin: auto;
	margin-top: 38vh;
	position: relative;
	display:flex;
	align-content: center;
/*	border: 2px white solid;*/
	-webkit-animation: appear 9s linear forwards;
       animation: appear 9s linear forwards;
}



/* CELLPHONES */
@media(min-width: 650px){
}


/* BIG SCREENS/ MONITORS*/
@media (min-width: 1080px){
}

/* IPADS */
@media(min-width: 750px){
}



/* ANIMATIONS */
/* webkit: Chrome, Safari*/
/* moz: Mozilla Firefox*/

/* warp fade animation:*/
@-webkit-keyframes darkbg{
    0%   {background: rbga(0,0,0,0);}
    100% {background: rbga(0,0,0,0.6));}
}

@keyframes darkbg{
    0%   {background: rbga(0,0,0,0);}
    100% {background: rbga(0,0,0,6));}
}

@-webkit-keyframes fadein{
    0%   {filter: brightness(1);}
    50%  {filter: brightness(0.4);}
    100% {filter: brightness(0.2);}
}

@-moz-keyframes fadein{
    0%   {filter: brightness(1);}
    50%  {filter: brightness(0.4);}
    100% {filter: brightness(0.2);}
}


@keyframes fadein{
    0%   {filter: brightness(1);}
    50%  {filter: brightness(0.4);}
    100% {filter: brightness(0.2);}
}

@-webkit-keyframes appear{
    0%   {filter: opacity(0);}
    50%  {filter: opacity(0.4);}
    100% {filter: opacity(1);}
}

@-moz-keyframes appear{
    0%   {filter: opacity(0);}
    50%  {filter: opacity(0.4);}
    100% {filter: opacity(1);}
}

@keyframes appear{
    0%   {filter: opacity(0);}
    50%  {filter: opacity(0.4);}
    100% {filter: opacity(1);}
}

/*floating animation for title*/
@-webkit-keyframes floating{
	0%{-webkit-transform: translate(0px, 0px);}
	50%{-webkit-transform: 20px, -20px;}
	100%{-webkit-transform: translate(-10px, -10px);}
}

@keyframes floating{
	0%{transform: translate(0px, 0px);}
	50%{transform:  translate(20px, -20px);}
	100%{transform: translate(-10px, -10px);}
}
/*
@keyframes floating{
	0%{-webkit-transform: translate(35%, 10%);transform: translate(35%, 10%);}
	20%{-webkit-transform: 45%, 10%;transform: 45%, 10%;}
	50%{-webkit-transform: 20%, 8%;transform: 20%, 8%;}
	60%{-webkit-transform: 15%, -6%;transform: 15%, -6%;}
	100%{-webkit-transform: translate(35%, 15%);transform: translate(35%, 15%);}*/
