.bold {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 600;
  font-style: normal;
  font-size: 110%;
}


.button {
  background: #e540c2;
  border: none;
  color: #fff;
  width: auto;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 15px;
  padding: 5px 15px;
  font-size: 1.1em;
  border-radius: 2px;
  letter-spacing: 1px;
  font-family: 'Arial Black', sans-serif;
  font-weight: bold;
	text-shadow: 2px 2px black;
	text-align: center;
  font-weight: bold;
}

.button:hover {
  background-image: url("../img/star2.gif");
}

.magenta {
  color: #e540c2;
}

.magentaBackground{
  background: #e540c2;
}

.green{
  color: #3ee485;
}

.greenBackground{
  background: #3ee485;
}

.yellow{
  /*color: #fff424;*/
  color: #ffcc33;
}

.yellowBackground{
  /*background: #fff424;*/
  background: #ffcc33;
}

.orange{
  color: #fd6504;
}

.orangeBackground{
  background: #fd6504;
}

.blue{
  color:#33ccff;
}

.blueBackground{
  background: #33ccff;
}

.blue2 {
  color:#119dfc;
}

.blue2Background {
  background:#119dfc;
}

.purple {
  color: #7e42ff;
}

.purpleBackground {
  background: #7e42ff;
}

.red {
  color: #ff4141;
}

.redBackground {
  background: #ff4141;
}

.black {
  color: #333333;
}

.blackBackground {
  background: #333333;
}
