@font-face{
	font-family: mortified;
	src:url('../fonts/Mortified.ttf');
	font-family: submerged;
	src:url('../fonts/submergd.ttf');
}

body{
	margin:0;
	padding:0;
	background-image:url("../img/cloth.png");
	background-size: 120%;
	height: 100%;
	width:100vw;
	overflow: scroll;

}

.buttons{
	position: fixed;
	z-index: 1;
}
button{
	border: 3px solid rgba(255, 0, 255, 0.45 );
	background-color: rgba(153,255,204,0.5);
	border-radius: 45px;
	font-family: 'submerged', cursive;
	font-size: 3vh;
	color: rgba(255, 0, 255, 0.7);
	text-shadow: 2px 1px rgba(243, 255, 15, 0.7);
	-webkit-animation: floating_phone 15s infinite alternate linear;
		animation: floating_phone 15s infinite alternate linear
}


#festival_title {
	border-top: solid black 10px;
	border-bottom: solid black 10px;
	height: 20vh;
	width: 100%;
	display: block;
	overflow: hidden;
	position: relative;
	font-size: 6vw;
	color: #fc4f91c5;
	text-shadow: 2px 4px 1px rgba(153,255,204,1);
	text-transform: uppercase;
	font-family: 'Arial Black', sans-serif;
	background-image: url("../img/water3bis.gif");
	background-size: 100%;
	background-position-y: center;
	/* -webkit-animation: floating 25s infinite alternate-reverse linear;
	    animation: floating 25s infinite alternate-reverse linear; */
}

#middle_color{
	color:rgba(153,255,204, 0.7);
	text-shadow: 2px 4px 1px #e84c88;
	font-style: italic;
	font-weight: 400;
	/*rgba(153,255,204, 0.2)*/
}

.marquee_wrapper{
	white-space:nowrap;
	text-align: center;
	
}

.marquee_sliding{
	display: inline-block;
	margin-top: 0;
	-webkit-animation: floating_tiny 15s infinite alternate linear;
	animation: floating_tiny 15s infinite alternate linear
}


/* #edishon{
	font-size: 4vw;
	font-style: italic;
	text-align:center;
} */

#girl{
	margin-top: 12vh;
	background-image: url("../img/girlhead.png");
	background-repeat: no-repeat;
	background-size: 85%;
	margin-left: 70%;	
	position:absolute;
	height: 60vh;
	width: 25vw;
	font-family: 'curves';
	text-align: center;
	font-size: 5vh;
	color: rgba(255, 0, 255, 0.2);
	text-shadow: 2px 4px 1px rgba(153,255,204,1);
	animation: rotation 10s infinite linear;
	-webkit-animation: rotation 10s infinite linear;
}

#man{
	margin-top: 12vh;
	margin-left: 5%;
	background-image: url("../img/girlhead2.png");
	background-repeat: no-repeat;
	background-size: 85%;
	margin-right: 70%;	
	position:absolute;
	height: 60vh;
	width: 25vw;
	font-family: 'curves';
	font-size: 5vh;
	text-align: center; 
	color: rgba(255, 0, 255, 0.2);
	text-shadow: 2px 4px 1px rgba(153,255,204,1);
	animation: rotation 10s infinite linear reverse;
	-webkit-animation: rotation 10s infinite linear reverse;
}

#donut{	
	position: relative;
	z-index: 1;
	margin-left: 25vw;
	margin-top: -37vh;
	display: block;
	height: 40vh;
	width: 28vw;
	background-image: url("../img/donut.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
    -webkit-animation: floating 15s infinite alternate-reverse linear;
	    animation: floating 15s infinite alternate-reverse linear;
}

#date{
	/*v+h alignment of text inside container*/
	text-align:center;
	display: inline-flex;

	/* margin-left: 31vw; */
	margin-top: 10vh;
	margin-left: 1.6vw;
	width: 95vw;
	height: 60vh; 
	/*fonts and colors*/
	font-family: 'Permanent Marker', serif;
	text-transform: uppercase;
	font-size: 4vw;
	/* text-shadow: 2px 2px 1px rgba(243, 255, 15,0.6); */
	/* color: rgba(153,255,204, 0.2); */
	color: #e84c88;
	letter-spacing: 5px;
	background-image: url('../img/water3bis.gif');
	background-position-y: center;
	background-size: 150%;
	border-radius: 60px;
	border: solid black 10px;

}

#date > p{
	/* -webkit-animation: floating 18s infinite alternate linear;
	animation: floating 18s infinite alternate linear; */
	margin: auto;
	z-index: 2;
	color:rgba(153,255,204,0.8) ;
	text-shadow: 2px 4px 1px #e84c88;
	/*rgba(255, 0, 255, 0.5)*/
}

.hook{
	margin: 6vh 5vw 6vh 5vw;
	padding: 10px;
	border: solid black 10px;
	font-family: 'Permanent Marker', serif;
	font-size: 2.5vw;
	font-weight: 400;
	color: rgba(153,255,204,0.75);
	text-shadow: 2px 2px 1px #e84c88;
	display:flex;
	flex-direction: row;
	background-image: url("../img/water3bis.gif");
	background-size: 100%;
	background-position: center;
	border-radius: 50px;
	}

#word1{
	-webkit-animation: wordfloating 35s infinite alternate-reverse linear;
	    animation: wordfloating 35s infinite alternate-reverse linear;
}
#word2{			
	-webkit-animation: wordfloating 20s infinite reverse linear;
	    animation: wordfloating 20s infinite reverse linear;}
#word3{		
	-webkit-animation: wordfloating 25s infinite reverse linear;
	    animation: wordfloating 25s infinite reverse linear;}
#word4{
	-webkit-animation: wordfloating 35s infinite alternate linear;
	    animation: wordfloating 35s infinite alternate linear;}
#word5{
	-webkit-animation: wordfloating 30s infinite alternate-reverse linear;
	    animation: wordfloating 30s infinite alternate-reverse linear;}
#word6{
	-webkit-animation: wordfloating 18s infinite reverse linear;
	    animation: wordfloating 18s infinite reverse linear;}
#word7{
	-webkit-animation: wordfloating 23s infinite alternate linear;
	    animation: wordfloating 23s infinite alternate linear;}
#word8{
	-webkit-animation: wordfloating 32s infinite alternate-reverse linear;
	    animation: wordfloating 32s infinite alternate-reverse linear;}
#word9{
	-webkit-animation: wordfloating 22s infinite alternate linear;
	    animation: wordfloating 22s infinite alternate linear;}
#word10{
	-webkit-animation: wordfloating 29s infinite reverse linear;
	    animation: wordfloating 29s infinite reverse linear;}
#word11{
	-webkit-animation: wordfloating 19s infinite reverse linear;
	    animation: wordfloating 19s infinite reverse linear;}	    
#word12{
	-webkit-animation: wordfloating 28s infinite alternate linear;
	    animation: wordfloating 28s infinite alternate linear;}




#description{
	margin: 5vw;
	display: block;
	justify-content: center;
    font-family: 'Permanent Marker', sans-serif;
	color: rgba(153,255,204,0.75);
	text-shadow: 2px 2px 1px #e84c88;
}


h3{
	font-size: 3vw;
	color: rgba(255, 0, 255, 0.2);
	text-shadow: 2px 4px 1px rgba(153,255,204,1);
	text-transform: uppercase;
	margin: auto;
	font-family: 'Arial Black', monospace;
}

.duck_flex{
	display:flex;
}


#duck{	
	background-size: 50%;
	background-position: top;
	height: 150px;
}

img{
	-webkit-animation: floating_tiny 15s infinite alternate linear;
	animation: floating_tiny 15s infinite alternate linear
}

#description p {
	padding: 2.5vh 4vw;
	font-size: 1.8vw;
	background-image: url("../img/water3bis.gif");
	background-size: 200%;
	border-radius: 50px;
	border: solid black 10px;
}
.awaits p{
	/*padding-left: 4vw;*/
	text-align: justify;
	text-justify: inter-word;
}	

.where{
	margin-top: 6vh;	
}
.where > p{
	/* background-image: url("../img/dolphin.png"); */
	text-align: justify;
	text-justify: inter-word;
	padding: 50px;

}

#glowflex{
	display: flex;
}

#glow{
    background-image: url("../img/glow.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    width: 55vw;
    height: 150px;	
}

.cost{
	margin-top: 6vh;
}
.cost> p{
	padding-left: 4vw;
	text-align: justify;
    text-justify: inter-word;	
}

#price{
	padding:5px;
	font-size: 1.5em;
	color: rgba(255, 0, 255, 0.2);
	text-shadow: 2px 4px 1px rgba(153,255,204,1);
}

#moneyflex{
	display: flex;
}

#money{
	width: 25vw;
	height: 180px;
	background-image: url("../img/nickel.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.answer{
	margin-top: 6vh;
}

form{
	margin-top: 4vh;
	background-image: url("../img/water3bis.gif");
	background-size: 200%;
	border-radius: 50px;
	border: solid black 10px;
}
.answer > p{
	padding-left: 4vw;
	text-align: justify;
	text-justify: inter-word;
}


/* phone styles */

@media screen and (max-width: 600px) {

	#festival_title{
		margin:auto;
		padding-top: 5vh;
		width: 90vw;
		height: 15vh;
		font-size: 7vw;
		-webkit-animation: floating_phone 15s infinite alternate linear;
		        animation: floating_phone 15s infinite alternate linear;
	}


}



/* ANIMATIONS */
/* webkit: Chrome, Safari*/
/* moz: Mozilla Firefox*/


@-webkit-keyframes floating{
	0%{-webkit-transform: translate(2vw, -10vh);}
	50%{-webkit-transform: translate(8vw, -14vh);}
	100%{-webkit-transform: translate(12vw, 1vh);}
}

@keyframes floating{
	0%{transform: translate(2vw, -10vh);}
	50%{transform:  translate(8vw, -14vh);}
	100%{transform: translate(12vw, 1vh);}
}

@-webkit-keyframes wordfloating{
	0%{-webkit-transform: translate(1vw, 1vh);}
	50%{-webkit-transform: translate(5vw, -8vh);}
	100%{-webkit-transform: translate(2vw, 2vh);}
}

@keyframes wordfloating{
	0%{transform: translate(1vw, 1vh);}
	50%{transform:  translate(5vw, -8vh);}
	100%{transform: translate(2vw, 2vh);}
}


@-webkit-keyframes floating_phone{
	0%{-webkit-transform: translate(-1vw, 5vh);}
	50%{-webkit-transform: translate(5vw, 1vh);}
	100%{-webkit-transform: translate(10vw, 5vh);}
}

@keyframes floating_phone{
	0%{transform: translate(-1vw, 5vh);}
	50%{transform:  translate(5vw, 1vh);}
	100%{transform: translate(10vw, 5vh);}
}

@keyframes floating_tiny{
	0%{transform: translate(-1vw, 2vh);}
	50%{transform:  translate(3vw, 1vh);}
	100%{transform: translate(-3vw, -2vh);}
}

@-webkit-keyframes floating_tiny{
	0%{-webkit-transform: translate(-1vw, 2vh);}
	50%{-webkit-transform:  translate(3vw, 1vh);}
	100%{-webkit-transform: translate(-3vw, -2vh);}
}

@-webkit-keyframes slider
{
    0% {-webkit-transform: translateX(100%);}
    100% {-webkit-transform: translateX(-100%);}
}
@-moz-keyframes slider{
    0% {-moz-transform: translateX(100%);}
    100% {-moz-transform: translateX(-100%);}	
}
@keyframes slider{
    0% {-moz-transform: translateX(100%); /* Firefox bug fix */
		-webkit-transform: translateX(100%); /* Firefox bug fix */
		transform: translateX(100%);
		}
    100% {-moz-transform: translateX(-100%); /* Firefox bug fix */
		  -webkit-transform: translateX(-100%); /* Firefox bug fix */
		  transform: translateX(-100%);
		}
}

@keyframes rotation{
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}

