body{
	margin:0;
	padding:0;
	background-image:url("../img/star2.gif");
	height: 100%;
	overflow: scroll;}



#festival_title{
	width: 70vw;
	height: 15vh;
	background-position: top;
	text-align: center;
	font-size: 7vw;
	color: rgba(255, 0, 255, 0.2);
	text-shadow: 2px 4px 1px rgba(153,255,204,0.2);
	transition: color 5s;
	font-family: 'IBM Plex Mono', monospace;
	-webkit-animation: floating 25s infinite alternate-reverse linear;
	        animation: floating 25s infinite alternate-reverse linear;

}

#festival_title:hover{
	color: rgba(255,0,255, 0.7);
	text-shadow: 2px 4px 1px rgba(153,255,204,0.8);
}


#middle_color{
	color: rgba(153,255,204,0.4);
	text-shadow: 2px 4px 1px rgba(255,0,255, 0.2);
	font-style: italic;
	font-weight: 400;
}

#festival_title:hover #middle_color{
	color: rgba(153,255,204,0.7);
	text-shadow: 2px 4px 1px rgba(255,0,255, 0.7);
}


#steps{

	font-family: 'IBM Plex Mono', monospace;
	font-style: italic;
	font-size: 1em;
	color:white;
/*	padding: 1vw 22vw 1vw 22vw;*/
	position: absolute;
	margin: 3em;
}

#price{
	display:flex;
	justify-content: center;
	font-weight: 500;
	font-size: 2.5em;
	margin-top: 12px;
	margin-left: 30%;
	margin-right: 34%;
	text-shadow: 2px 3px black;
	-webkit-animation: colorchange 10s linear alternate infinite;
       animation: colorchange 10s linear alternate infinite;
}

#first{
	color:#e540c2;
	padding-bottom: 2em;
	padding-top: 2em;
}

#second{
	color:#fd6504;
	padding-bottom: 2em;
}

#third{
	color:#fff424;
	padding-bottom: 2em;
}

#fourth{
	color:#3ee485;
	padding-bottom: 2em;
}

#fifth{
	color:#33ccff;
	padding-bottom: 2em;
}


a{
	color: #e8e8e8;
	font-family: "Arial Black", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 2px 3px black;
	border-radius: 5px;
	background-color:#e540c2;
	text-decoration: none;
}

.link:hover{
	color:#fff424;
	text-shadow: 0.5px 0.5px grey;
}

#download{
	background-color:#e540c2;
	padding:0;
	border-radius: 5px;
}

p{
	line-height: 2.5;
}

#space_travel:hover{
	color:#33cccf;
}



/* phone styles */

/*FOR BIG SCREEN OR RETINA DISPLAYS*/ 
@media screen and (min-width: 1200px){

}

@media screen and (max-width: 600px) {


	#festival_title{
		margin:auto;
		padding-top: 5vh;
		width: 90vw;
		height: 15vh;
		font-size: 7vw;
		-webkit-animation: floating_phone 15s infinite alternate linear;
		        animation: floating_phone 15s infinite alternate linear;
	}


	/*:active allows the title to be clicked instead of hovered on phones*/
	#festival_title:hover, #festival_title:active{
		color: rgba(255,0,255, 0.7);
		text-shadow: 2px 4px 1px rgba(153,255,204,0.8);
	}

	a{
		font-size: 0.8em;
		width: 180px;
	}

	#steps{
		font-size: 0.8em;
	}

	#price{
		font-size: 1.8em;
		margin-left: 25vw;
		margin-right: 28vw;
	}

}



/* ANIMATIONS */
/* webkit: Chrome, Safari*/
/* moz: Mozilla Firefox*/


@-webkit-keyframes floating{
	0%{-webkit-transform: translate(5vw, 5vh);}
	50%{-webkit-transform: translate(10vw, -5vh);}
	100%{-webkit-transform: translate(15vw, 5vh);}
}

@keyframes floating{
	0%{transform: translate(5vw, 5vh);}
	50%{transform:  translate(10vw, -5vh);}
	100%{transform: translate(15vw, 5vh);}
}


@-webkit-keyframes floating_phone{
	0%{-webkit-transform: translate(-1vw, 5vh);}
	50%{-webkit-transform: translate(5vw, -5vh);}
	100%{-webkit-transform: translate(10vw, 5vh);}
}

@keyframes floating_phone{
	0%{transform: translate(-1vw, 5vh);}
	50%{transform:  translate(5vw, -5vh);}
	100%{transform: translate(10vw, 5vh);}
}


@keyframes title_color_phone{
	0%{	color: rgba(255, 0, 255, 0.2);text-shadow: 2px 4px 1px rgba(153,255,204,0.2);}
	100%{color: rgba(255,0,255, 0.7); text-shadow: 2px 4px 1px rgba(153,255,204,0.8);}
}
@-webkit-keyframes title_color_phone{
	0%{	-webkit-color: rgba(255, 0, 255, 0.2);-webkit-text-shadow: 2px 4px 1px rgba(153,255,204,0.2);}
	100%{-webkit-color: rgba(255,0,255, 0.7); -webkit-text-shadow: 2px 4px 1px rgba(153,255,204,0.8);}
}

@keyframes title_middlecolor_phone{
	0%{color: rgba(153,255,204,0.2); text-shadow: 2px 4px 1px rgba(255,0,255, 0.2);}
	100%{color: rgba(153,255,204,0.8);text-shadow: 2px 4px 1px rgba(255,0,255, 0.8);}
}
@-webkit-keyframes title_middlecolor_phone{
	0%{	-webkit-color: rgba(153,255,204,0.2); -webkit-text-shadow: 2px 4px 1px rgba(255,0,255, 0.2);}
	100%{-webkit-color: rgba(153,255,204,0.8); -webkit-text-shadow: 2px 4px 1px rgba(255,0,255, 0.8);}
}

@keyframes colorchange {
      0%   {color: #fd6504;}
      25%  {color: #fff424;}
      50%  {color: #3ee485;}
      75%  {color: #33ccff;}
      100% {color: #e540c2;}
    }

@-webkit-keyframes colorchange {
      0%   {color: #fd6504;}
      25%  {color: #fff424;}
      50%  {color: #3ee485;}
      75%  {color: #33ccff;}
      100% {color: #e540c2;}
    }

