body{
	margin:0;
	padding:0;
	background-image:url("../img/star.gif");
	height: 100%;
	overflow: scroll;
/*	background-image: url("images/noise.gif");*/
}

#warp{
/*	border: 5px solid red;*/
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	height: 100vh;
	background-image: url("../img/warp1.png");
	background-size: 85vw;
	background-repeat: no-repeat;
	position: absolute;
	background-position: center;
    -webkit-animation: fadein 7s infinite alternate;
       animation: fadein 7s infinite alternate;
}

#festival_title{
	width: 70vw;
	height: 15vh;
/*	border: 3px white solid;*/
/*	position: fixed;*/
	background-position: top;
/*	width: 100vw;*/
	text-align: center;
	font-size: 7vw;
	color: rgba(255, 0, 255, 0.2);
	text-shadow: 2px 4px 1px rgba(153,255,204,0.2);
	transition: color 5s;
	font-family: 'IBM Plex Mono', monospace;
	-webkit-animation: floating 25s infinite alternate-reverse linear;
	        animation: floating 25s infinite alternate-reverse linear;

}

#festival_title:hover{
	color: rgba(255,0,255, 0.7);
	text-shadow: 2px 4px 1px rgba(153,255,204,0.8);
}


#middle_color{
/*	position:fixed;*/
	color: rgba(153,255,204,0.4);
	text-shadow: 2px 4px 1px rgba(255,0,255, 0.2);
	font-style: italic;
	font-weight: 400;
}

#festival_title:hover #middle_color{
	color: rgba(153,255,204,0.7);
	text-shadow: 2px 4px 1px rgba(255,0,255, 0.7);
}

#date{

	/*horizontal and vertical alignment of absolute object*/
	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	margin:auto;
	margin-top: 24vh;

	/*v+h alignment of text inside container*/
	padding: 3px;
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align:center;

	/*fonts and colors*/
	font-family: 'IBM Plex Mono', monospace;
	font-style: italic;
	font-size: 3.3vw;
	color: white;

	/*container size and attributes*/
	width: 50vw;
	height:50vh;
/*	border: 5px solid;*/

	/*animation*/
	-webkit-animation: appear 9s linear forwards;
       animation: appear 9s linear forwards;
}

#goodby{

	/*horizontal and vertical alignment of absolute object*/
	top: 0; left: 0; bottom: 0; right: 0;
	position: absolute;
	margin:auto;
	margin-top: 17%;

	/*v+h alignment of text inside container*/
	padding: 3px;
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;

	/*fonts and colors*/
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 200;
	font-style: italic;
	font-size: 100%;
	color: white;

	/*container size and attributes*/
	width: 50vw;
	height:50vh;
/*	border: 5px solid;*/

	/*animation*/
	-webkit-animation: appear 9s linear forwards;
       animation: appear 9s linear forwards;
}

a{
/*	border: 3px white solid;*/
	padding: 10px 3px;
	background-color: rgba(0,0,0,0);
	color: white;
	font-family: "Arial Black", sans-serif;
	font-size: 1.8vw;
	width: 24vw;
	border: 0.6vw solid white;
/*	margin-top: 20px;*/
	font-weight: bold;
	text-shadow: 2px 2px black;
	text-align: center;
	margin: auto;
	text-decoration:none;
}

#button{
	margin: auto;
	margin-top: 40vh;
	position: relative;
	display:flex;
	align-content: center;
/*	border: 2px white solid;*/
	-webkit-animation: appear 9s linear forwards;
       animation: appear 9s linear forwards;
}




/* phone styles */

@media screen and (max-width: 1000px){
	#warp{
		background-size: 110vw;
	}
}


@media screen and (max-width: 600px) {

#warp{

	background-size: 170vw;
}

#festival_title{
/*	border: white solid;*/
	margin:auto;
	padding-top: 5vh;
	width: 90vw;
	height: 15vh;
	font-size: 7vw;
/*	-webkit-animation: title_color_phone 6s infinite alternate;
			animation: title_color_phone 6s infinite alternate;*/
	-webkit-animation: floating_phone 15s infinite alternate linear;
	        animation: floating_phone 15s infinite alternate linear;
}

#middle_color{
/*	-webkit-animation: title_middlecolor_phone 6s infinite alternate;
			animation: title_middlecolor_phone 6s infinite alternate;*/
}

/*:active allows the title to be clicked instead of hovered on phones*/
#festival_title:hover, #festival_title:active{
	color: rgba(255,0,255, 0.7);
	text-shadow: 2px 4px 1px rgba(153,255,204,0.8);
}

#date{
	margin-top: 15vh;
	font-size: 5.5vw;
/*	border: white solid;*/
}

#button{
	margin-top: 33vh;
}

a{
	font-size: 0.8em;
	width: 180px;
	border: 4px solid white;
}


}



/* ANIMATIONS */
/* webkit: Chrome, Safari*/
/* moz: Mozilla Firefox*/

/* warp fade animation:*/

@-webkit-keyframes fadein{
    0%   {filter: brightness(1);}
    50%  {filter: brightness(0.4);}
    100% {filter: brightness(0.2);}
}

@-moz-keyframes fadein{
    0%   {filter: brightness(1);}
    50%  {filter: brightness(0.4);}
    100% {filter: brightness(0.2);}
}

@keyframes fadein{
    0%   {filter: brightness(1);}
    50%  {filter: brightness(0.4);}
    100% {filter: brightness(0.2);}
}



@-webkit-keyframes appear{
    0%   {filter: opacity(0);}
    50%  {filter: opacity(0.4);}
    100% {filter: opacity(1);}
}

@-moz-keyframes appear{
    0%   {filter: opacity(0);}
    50%  {filter: opacity(0.4);}
    100% {filter: opacity(1);}
}

@keyframes appear{
    0%   {filter: opacity(0);}
    50%  {filter: opacity(0.4);}
    100% {filter: opacity(1);}
}




@-webkit-keyframes floating{
	0%{-webkit-transform: translate(5vw, 5vh);}
	50%{-webkit-transform: translate(10vw, -5vh);}
	100%{-webkit-transform: translate(15vw, 5vh);}
}

@keyframes floating{
	0%{transform: translate(5vw, 5vh);}
	50%{transform:  translate(10vw, -5vh);}
	100%{transform: translate(15vw, 5vh);}
}


@-webkit-keyframes floating_phone{
	0%{-webkit-transform: translate(-1vw, 5vh);}
	50%{-webkit-transform: translate(5vw, -5vh);}
	100%{-webkit-transform: translate(10vw, 5vh);}
}

@keyframes floating_phone{
	0%{transform: translate(-1vw, 5vh);}
	50%{transform:  translate(5vw, -5vh);}
	100%{transform: translate(10vw, 5vh);}
}


@keyframes title_color_phone{
	0%{	color: rgba(255, 0, 255, 0.2);text-shadow: 2px 4px 1px rgba(153,255,204,0.2);}
	100%{color: rgba(255,0,255, 0.7); text-shadow: 2px 4px 1px rgba(153,255,204,0.8);}
}
@-webkit-keyframes title_color_phone{
	0%{	-webkit-color: rgba(255, 0, 255, 0.2);-webkit-text-shadow: 2px 4px 1px rgba(153,255,204,0.2);}
	100%{-webkit-color: rgba(255,0,255, 0.7); -webkit-text-shadow: 2px 4px 1px rgba(153,255,204,0.8);}
}

@keyframes title_middlecolor_phone{
	0%{color: rgba(153,255,204,0.2); text-shadow: 2px 4px 1px rgba(255,0,255, 0.2);}
	100%{color: rgba(153,255,204,0.8);text-shadow: 2px 4px 1px rgba(255,0,255, 0.8);}
}
@-webkit-keyframes title_middlecolor_phone{
	0%{	-webkit-color: rgba(153,255,204,0.2); -webkit-text-shadow: 2px 4px 1px rgba(255,0,255, 0.2);}
	100%{-webkit-color: rgba(153,255,204,0.8); -webkit-text-shadow: 2px 4px 1px rgba(255,0,255, 0.8);}
}
