
body{
	margin:0;
	padding:0;
/*	background-image: url("images/noise.gif");*/
}

.bgImage{
	width: 100vw;
	height: 100vh;
	background-image: url("images/image1.png");
	background-size: 90%;
	background-repeat: no-repeat;
}


.nav {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
/*	border: 1px solid;*/
	margin:0;
	padding: 10px;
	width: 150%;
	text-shadow: 4px 4px 15px rgba(255,255,255, 0.7);
	animation: floatingOpposite 10s infinite alternate linear;
}

.nav li:first-child{
	font-family: "Russo One", monospace;
	font-size: 7vw;
	width: 150%;
/*	border: 1px solid;*/
}

.nav li:nth-child(2){
	font-family: "Lobster", cursive;
	text-transform: lowercase;
	font-size: 7vw;
	width: 150%;
	/*	border: 1px solid;*/
	padding-bottom: 5px;
}

.nav li:nth-child(3){
	font-family: "VT323", monospace;
	font-size: 7vw;
	width: 150%;
/*	border: 1px solid;*/
	padding: 5px 0;
}

@media(min-width: 900px){

	.nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

	.nav li:first-child{
	font-family: "Russo One", monospace;
	font-size: 350%;
	width: 150%;
/*	border: 1px solid;*/
	}

	.nav li:nth-child(2){
		font-family: "Lobster", cursive;
		text-transform: lowercase;
		font-size: 350%;
		width: 150%;
	/*	border: 1px solid;*/
		padding-bottom: 5px;
	}

	.nav li:nth-child(3){
		font-family: "VT323", monospace;
		font-size: 350%;
		width: 150%;
	/*	border: 1px solid;*/
		padding: 5px 0;
	}
}

/*#work:hover{
	color: #33FF00;
	padding: 10px;
-webkit-clip-path: polygon(3% 21%, 92% 4%, 100% 100%, 3% 78%);
clip-path: polygon(3% 21%, 92% 4%, 100% 100%, 3% 78%);
}*/

/*#contact:hover{
	color: #FFFF00;
	padding: 10px;
-webkit-clip-path: polygon(1% 0, 91% 31%, 86% 83%, 6% 94%);
clip-path: polygon(1% 0, 91% 31%, 86% 83%, 6% 94%);
}*/

/*#about:hover{
	color: #FF00FF;
	padding:10px;
-webkit-clip-path: polygon(2% 1%, 84% 46%, 55% 82%, 0 100%);
clip-path: polygon(2% 1%, 84% 46%, 55% 82%, 0 100%);
}*/

.animate1{
	animation: shakeit 0.1s infinite alternate;
}
.animate2{
	animation: shakeit 0.1s infinite alternate;
}
.animate3{
	animation: shakeit 0.1s infinite alternate;
}

.send_search{
/*	border: 1px solid;*/
/*	height: 40vh;*/
	width: 30.5vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	animation: floating 7s infinite alternate linear;
}


.container{
/*		border: 1px solid;*/
	display: flex;
	justify-content: space-between;

}

#inputbox{
	flex-grow: 1;
	height: 50px;
	border: 5px solid;
	font-family: "Futura", "Helvetica", sans-serif;
	font-style: italic;
/*	text-transform: uppercase;*/

}

 textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
	text-transform: uppercase;
	font-family: "Futura", sans-serif;
	font-style: italic;
	padding: 12px;
/*	background-color: tomato;*/
	color: plum;
}

}

.buttons {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 1;
/*	border: 1px solid;*/

}

.buttons button{
	display:flex;
	font-family: "Shrikhand", cursive;
	background-color: #33FFFF;
	font-size: 16px;
	border: none;
	margin: 3px;
}

/*h1{
	font-family: "arial black", sans-serif;
	font-size: 150%;
}*/

p{
	font-family: "VT323", sans-serif;
	background-color: yellow;
	margin:5px;
	animation: blinking 1s linear infinite;
}

/*button "?" and click text box*/
.random{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 65vh;	
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	animation: moveUpAndDown 8s infinite alternate;
/*	justify-content: center;
	align-items: flex-end;*/
/*		border: 5px solid;*/
/*	border: 1px solid;*/
}

#random_button{
	font-family: "arial black", sans-serif;
	font-size: 7vw;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height:0em;
	height: 1.5em;
	width: 100vw;
	border: none;
	text-shadow: 4px 4px 15px rgba(255,255,255, 0.7);
	background-image: url("images/noise.gif");
/*	display: flex;
	align-items: center;
	justify-content: center;*/
}


/*Randomize background bar*/
@keyframes moveUpAndDown{
	from{transform: translateY(0);}
	to{transform: translateY(30vh);}
}

/*blinking "click"*/
@keyframes blinking{
	  0% { opacity: 1; }
     49% { opacity: 1; }
     50% { opacity: 0; }
    100% { opacity: 0; }
}

/*shake effect when hover on nav*/
@keyframes shakeit{
	0% {margin-left: 0;
		transform: rotate(10deg);}
	25%{margin-left: 1px;}
	50%{margin-left: 5px;}
	100%{margin-left: 10px
		 transform: rotate(-10deg);}
}

/*floating effects for nav and search/send*/
@keyframes floating{
	0%{transform: translate(0px, 0px);}
	50%{transform: 20px, -20px;}
	100%{transform: translate(-10px, -10px);}
}

@keyframes floatingOpposite {
	from {transform: translate(0px, 0px);}
	to{transform: translate(30px, 30px);}
}




